{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}
	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

			<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

			<div
				class="carousel-inner" role="listbox">

				<!-- Slide 1 -->
				<div class="carousel-item active" style="background-image: url(assets/img/slide/pneu.jpg)">
					<div class="carousel-container">
						<div class="container">
							<h2 class="animate__animated animate__fadeInDown">Bienvenue sur
								<span>Salimata's Trade Company</span>
							</h2>
							<p class="animate__animated animate__fadeInUp">Le pneu Michelin est devenu une référence pour tous les types de véhicules. Le pneu Michelin allie sécurité, adhérence, tenue de route et confort de conduite pour tous les conducteurs. Pneu été,Pneu hiver ou pneu 4 saisons les pneus Michelin sont performants dans toutes les situations !</p>
							<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">En savoir plus</a>
						</div>
					</div>
				</div>

				<!-- Slide 2 -->
				<div class="carousel-item" style="background-image: url(assets/img/slide/carreaux2.jpg)">
					<div class="carousel-container">
						<div class="container">
							<h2 class="animate__animated animate__fadeInDown">Nos Carreaux sûrs, robustes en toute situation</h2>
							<p class="animate__animated animate__fadeInUp">En construction, un carreau, éventuellement suivi d'un nom de matière, désigne un élément carré ou parallélépipédique employé dans différents domaines. Les carreaux employés pour le pavement ou le carrelage sont des éléments en pierre naturelle ou artificielle.</p>
							<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">En savoir plus</a>
						</div>
					</div>
				</div>

				<!-- Slide 3 -->
				<div class="carousel-item" style="background-image: url(assets/img/slide/sacs2.jpg)">
					<div class="carousel-container">
						<div class="container">
							<h2 class="animate__animated animate__fadeInDown">Sacs polyvents</h2>
							<p class="animate__animated animate__fadeInUp">Les sachets pour riz sont plus avantageux, ils sont moins couteux et facilement utilisables ; ils permettent donc de réaliser plus de bénéfices.Nos sachets pour riz protègent votre produit de la moisissure, des gaz, le produit se conserve plus longtemps.En plus nos sachets pour riz sont personnalisables par rotogravure en combinant plusieurs couleurs différentes pour un produit unique. Le sachet vous aide à promouvoir votre marque et réaliser plus de bénéfice.</p>

							<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">En savoir plus</a>
						</div>
					</div>
				</div>

			</div>

			<a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>
	</section>
	<!-- End Hero -->

	<main
		id="main">

		<!-- ======= About Section ======= -->
		<section id="about" class="about">
			<div class="container">

				<div class="row content">
					<div class="col-lg-6">
						<h2>la vie change avec Salimata's
						</h2>
						<h3>Leader dans notre domaine</h3>
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0">
						<p>
							Le pneu Michelin est devenu une référence pour tous les types de véhicules. Le pneu Michelin allie sécurité, adhérence, tenue de route et confort de conduite pour tous les conducteurs.																					En construction, un carreau, éventuellement suivnom de matière, désigne un élément caparallélépipédique employé dans différents domaines.
																																																																																																																																					Les sachets pour riz sont plus avantageux, ils sont moins couteux et facilement utilisables ; ils permettent donc de réaliser plus de bénéfices.Nos sachets pour riz protègent votre produit de la moisissure, des gaz, le produit se conserve plus longtemps


						</p>
						<ul>
							<li>
								<i class="ri-check-double-line"></i>
								Details Pneu</li>
							<li>
								<i class="ri-check-double-line"></i>
								Details Carreaux</li>
							<li>
								<i class="ri-check-double-line"></i>
								Details Sacs</li>
						</ul>
						<p class="font-italic">
							vous pouvez insérer des infos ici
						</p>
					</div>
				</div>

			</div>
		</section>
		<!-- End About Section -->

		<!-- ======= Clients Section ======= -->
		<section id="clients" class="clients section-bg">
			<div class="container">

				<div class="row">

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
					</div>

				</div>

			</div>
		</section>
		<!-- End Clients Section -->

		<!-- ======= Services Section ======= -->
		<section id="services" class="services">
			<div class="container">

				<div class="section-title">
					<h2>Service</h2>
					<p>Les Services que nous offrons</p>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="icon-box">
							<i class="icofont-computer"></i>
							<h4>
								<a href="#">Pneus</a>
							</h4>
							<p>Le pneu Michelin est devenu une référence pour tous les types de véhicules. Le pneu Michelin allie sécurité, adhérence, tenue de route et confort de conduite pour tous les conducteurs. Pneu été,Pneu hiver ou pneu 4 saisons les pneus Michelin sont performants dans toutes les situations
							</p>

						</div>
					</div>
					<div class="col-md-6 mt-4 mt-md-0">
						<div class="icon-box">
							<i class="icofont-chart-bar-graph"></i>
							<h4>
								<a href="#">Sac Borro</a>
							</h4>
							<p>Les sachets pour riz sont plus avantageux, ils sont moins couteux et facilement utilisables ; ils permettent donc de réaliser plus de bénéfices.Nos sachets pour riz protègent votre produit de la moisissure, des gaz, le produit se conserve plus longtemps</p>


						</div>
					</div>
					<div class="col-md-6 mt-4 mt-md-0">
						<div class="icon-box">
							<i class="icofont-image"></i>
							<h4>
								<a href="#">Carreaux</a>
							</h4>
							<p>En construction, un carreau, éventuellement suivi d'un nom de matière, désigne un élément carré ou parallélépipédique employé dans différents domaines. Les carreaux employés pour le pavement ou le carrelage sont des éléments en pierre naturelle ou artificielle.</p>

						</div>
					</div>
					<div class="col-md-6 mt-4 mt-md-0">
						<div class="icon-box">
							<i class="icofont-settings"></i>
							<h4>
								<a href="#">Autres</a>
							</h4>
							<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Services Section -->

		<!-- ======= Portfolio Section ======= -->
		<section id="portfolio" class="portfolio">
			<div class="container">

				<div class="section-title">
					<h2>Portfolio</h2>
					<p>Nos Produits</p>
				</div>

				<div class="row">
					<div class="col-lg-12 d-flex justify-content-center">
						<ul id="portfolio-flters">
							<li data-filter="*" class="filter-active">All</li>
							<li data-filter=".filter-app">Pneu</li>
							<li data-filter=".filter-card">Carreaux</li>
							<li data-filter=".filter-web">Sacs</li>
						</ul>
					</div>
				</div>

				<div class="row portfolio-container">

					<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/pneu1.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>App 1</h4>
								<p>App</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/pneu2.jpg" data-gall="portfolioGallery" class="venobox" title="App 1">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/pneu3.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Web 3</h4>
								<p>Web</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/sac1.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/sac2.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>App 2</h4>
								<p>App</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/sac3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/carreau1.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Card 2</h4>
								<p>Card</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/carreau2.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/carreau3.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Web 2</h4>
								<p>Web</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/trade1.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/trade2.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>App 3</h4>
								<p>App</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/trade3.jpg" data-gall="portfolioGallery" class="venobox" title="App 3">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/pneu1.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Card 1</h4>
								<p>Card</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/pneu2.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Card 3</h4>
								<p>Card</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
							<div class="portfolio-info">
								<h4>Web 3</h4>
								<p>Web</p>
								<div class="portfolio-links">
									<a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3">
										<i class="bx bx-plus"></i>
									</a>
									<a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details">
										<i class="bx bx-link"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Portfolio Section -->

	</main>
	<!-- End #main -->

	<a href="#" class="back-to-top">
		<i class="icofont-simple-up"></i>
	</a>
{% endblock %}
